html {                          /* используем альтернативную блочную модель */
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {                          /* стиль для всеx страниц */
    user-select: none;              /* запрет на выделение текста */
    background-color: #d1e7dd;      /* цвет фона */
}
table {                         /* стиль для всей таблицы */
    table-layout: fixed;            /* явное(фиксированное) указание ширины таблицы */
    width: 100%;                    /* ширина от экрана */
    background-color: #d1e7dd;      /* цвет фона */
    border-collapse: separate;      /* ячейки имеют раздельные границы */
    border-style: none;             /* ячейки имеют невидимые границы */
    border-spacing: 1px;            /* расстояние между границами ячеек */
    text-align: center;             /* горизонтальное выравнивание текста внутри ячеек по центру */
    vertical-align: middle;         /* вертикальное выравнивание содержимого ячеек по центру */
    overflow: hidden;               /* обрезает содержимое таблицы если не умещается */
    white-space: nowrap;            /* запрет переноса текста */
    position: static;               /*  */
}
.cell {                         /* класс для всех ячеек таблицы */
    height: 20px;                   /* высота ячейки */
    border-radius: 5px;             /* радиус закругления границ ячейки */
    overflow: hidden;               /* обрезать содержимое ячейки если не умещается */
}
.cell.board {                   /* класс для всех ячеек таблицы доски */
    position: relative;             /*  */
    width: calc((100% - var(--cell-width)) / {{ size }});   /* ширина ячейки, синтаксис Jinja2, переменная size */
}
.cell.board.full_valid {        /* класс для ячейки дейсвующего элемента */
    background-color: #198754;      /* цвет ячейки */
}
.cell.board.limit_valid {       /* класс для ячейки ограниченно дейсвующего элемента */
    background-color: #ffc007;      /* цвет ячейки */
}
.cell.board.empty {             /* класс для ячейки недействующего элемента */
    background-color: #aaabab;      /* цвет ячейки */
}
.cell.calendar {                /* класс для ячейки календаря */
    background-color: #b1b1e8;         /* цвет ячейки */
}
.cell_goods {                   /* класс для ячейки документа */
    height: 20px;                   /* высота ячейки */
    border-radius: 5px;             /* радиус закругления границ ячейки */
    overflow: hidden;               /* обрезать содержимое ячейки если не умещается */
    position: relative;             /*  */
    width: var(--cell-width);       /* ширина ячейки */
}
.to_reissue {                   /* стиль для заполнителя, элемента для переоформления */
    position: absolute;             /*  */
    top: 50%;                       /*  */
    left: 50%;                      /*  */
    transform: translate(-50%, -50%);/*  */
    width: 70%;                     /*  */
    height: 70%;                    /*  */
    border-radius: 4px;             /* радиус закругления */
    outline: 0px solid;             /* невидимые границы */
    background-color: #dc3545;      /* цвет */
}
.full_valid:hover,              /* этоти псевдоклассы при наведении мышки на ячейку доски показывают рамку */
.limit_valid:hover {
    outline-offset: -2px;           /* смещение рамки */
    outline: 2px solid;             /* толщина рамки, стиль */
}
.goods {                        /* класс для кнопки документа */
    width: var(--cell-width);       /* ширина */
    overflow: hidden;               /* обрезать содержимое если не умещается */
    white-space: nowrap;            /* запрет переноса текста */
    text-align: left;               /* горизонтальное выравнивание текста */
}
@media (max-width: 400px) {     /* медиа запрос на ширину экрана, при экране до */
    * {                             /* глобально */
      --cell-width: 50px;           /* тут определяем значение переменной */
    }
}
@media (min-width: 401px) and (max-width: 600px) {  /* медиа запрос на ширину экрана, при экране от и до */
    * {                             /* глобально */
        --cell-width: 100px;        /* тут определяем значение переменной */
    }
}
@media (min-width: 601px) {     /* медиа запрос на ширину экрана, при экране от */
    * {                             /* глобально */
      --cell-width: 150px;          /* тут определяем значение переменной */
    }
}
